
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app, main, .nav-area, .content-container div > .row {
	min-height: 100vh;
}

.navbar-laravel, .nav-area, .category-container, footer {
  background-color: $white;
  box-shadow: $default-box-shadow;
}

a {
	&:hover{
		text-decoration: none;
	}
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

form {
	input, textarea {
		width: 100%;
		border: 1px solid $cyan;
		border-radius: 3px;
	}
	input {
		text-align: center;
	}
	textarea {
		overflow-y: scroll;
	}
	.title{
		label{
			padding-left: 15px;
		}
	}
}

.title {
	font-size: 32px;
}

nav {
	border-bottom: 1px solid $border-gray;
	z-index: 1040;
}

.container-fluid {
	padding: 0px;
}

main {
	padding-top: 78px;
}

.nav-area {
	text-align: center;	
	z-index: 10;
	margin-top:78px;
	ul {
		li {
			border-bottom: 1px solid $white;
			&:hover {
				border-bottom: 1px solid $brightblue;
				a {
					color: $brightblue;
				}
			}
		}
	}
}

.content-container {
	.row {
		> div {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.category-container {			
			text-align: center;
			div {
			    -webkit-transform: rotate(90deg);
			    -moz-transform: rotate(90deg);
			    -o-transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			    transform: rotate(90deg);			    
			}
		}
		.project-container {
			
		}
	}
}

#Project{
	img, p, a {
		max-width: 100%;
		max-height: 100%;
		margin: auto;
	}
	.row{
		border-bottom: 1px solid $border-gray;
	}
	textarea {
		resize: none;
	}
	.hidden {
		display: none;
	}
	#Categories, #Reference {
		a {
			width: 100%;
			text-align: center;
		}
		img {
			padding-right: 30px;
		}
	}
}

#cms{
	#Reference, #Categories{
		a {
			&:hover{
				color: $red;
			}
		}
	}
}

footer{
	background-color: #ededee;
	border-top: 1px solid $border-gray;
	z-index: 1040;
}

